[Unit]
Description=Daemon for the trackpad of the MiniBook
ConditionPathExists=/usr/bin/
Requires=sysinit.target
After=sysinit.target basic.target

[Service]

ExecStart=/usr/bin/trackpadd -c
Restart=no
Type=simple

[Install]
WantedBy=multi-user.target
